.team > h2 {
	margin:50px 0 0 0;
}

.team > a {
	margin:30px;
	padding:0;
	display:inline-block;
}

.team > a:hover {
	text-decoration: none !important;
}

.team > a > div {
	position:relative;
	transition: opacity .2s;
}

.team > a > img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.team > a > img:hover {
	opacity: 0.7;
}

.team_name {
    margin:0;
    color:#000;
    font-weight:bold;
}

.team_description {
    margin:0;
    color:#999;
    font-size:15px;
}

.team_from {
    margin:0;
    color:#999;
    font-size:15px;
}
