.team > h2 {
	margin:50px 0 0 0;
}

.team > a {
	margin:30px;
	padding:0;
	display:inline-block;
}

.team > a:hover {
	text-decoration: none !important;
}

.team > a > div {
	position:relative;
	transition: opacity .2s;
}

.team > a > div:hover {
	opacity: 0.7;
}

.team > a > div > div {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.team_name {
	margin:0;
	color:#000;
	font-weight:bold;
}

.team_from {
	margin:0;
	color:#999;
	font-size:15px;
}

.name {
	padding: 20px 0;
}

.description {
	white-space: pre-line
}

.info_table {
	width:100%;
	style:none;
}

.rounded > img {
	border-radius: 50%;
}
