.last_news {
	/*border: 1px solid;*/
	margin: 0px;
}

.last_news > h3 {
	margin: 0px 0 15px;
}

.last_news > article {
	padding: 5px;
	border: 1px solid white;
	transition: background .1s;
}

.last_news > article:hover {
	background: #f5f5f5;
}

.last_news > article > a > h4 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 20px;
}

.last_news > article > a:hover {
	text-decoration: none !important;
}

.last_news > article > a > p {
	font-size: 13px;
	margin: 0;
	color: #AAA;
}
