/* Default settings or smallest devices (potrait mode phones, 544px and lower) */

/*.... Background */
  .morpheus-bg {
    background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
  }

/* Icons */

.icons-atribution {
  opacity: 0.25;
  font-size: 65%;
}

/*.... Carousel */
.carousel img {
  max-height: 90px;
}

.carousel-height {
  min-height: 415px !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: brightness(0);
}

/*.... Buttons on white background */
.button-morpheus {
  color: #537895;
  background-color: transparent;
  background-image: none;
  border-color: #537895;
}

.button-morpheus:hover {
  color: #fff;
  background-color: #537895;
  border-color: #537895;
}

.button-morpheus:focus {
  box-shadow: 0 0 0 0.2rem rgba(9,32,63,.5);
  color: #09203f;
}

/*.... Responsive Fonts */
   
/*........ Basic Fonts and Headers */

    .responsive-font {
      font-size: 1rem !important;
    }
    .responsive-header {
      font-size: 2.25rem !important;
    }

    .heavy {
      font-weight: 800;
    }
/*........ Fonts and headers for icon cards */

    .responsive-card-header {
      font-size: 1.5rem !important;
    }

    .responsive-card-font {
      font-size: 1rem;
    } 

/*........ Fonts and headers for featurettes */

    .responsive-featurette-header {
      font-size: 1.8rem;
    }
  
    .responsive-featurette-font {
      font-size: 1.2rem;
    }




/*.... Featurettes */

.toggle-image {
  display: none !important;
}

#mission-statement {
  width: 100%;
}

#services-header {
  font-size: 3.5rem;
}

#organization {
  width: 95%;
}

#collaborate {
  width: 100%;
}

.featurette-container {
  padding-right: 3rem;
  padding-left: 3rem;
}

/* Small devices (landscape phones, 544px and up) */
  @media (min-width: 544px) {

    /*.... Carousel */
    .carousel-height {
      min-height: 280px !important;
    }

    /*.... Basic Fonts and Headers */
    .responsive-font {
      font-size: 1.15rem !important;
    }

    .responsive-header {
      font-size: 2.05rem !important;
    }

    /*.... Fonts and headers for icon cards */
    .responsive-card-header {
      font-size: 1.5rem !important;
    }

    /*.... Featurettes */
    #organization {
      width: 95%;
    }

    #mission-statement {
      width: 80%;
    }

  }

/* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) { 

    /*.... Carousel */
    .carousel-height {
      min-height: 160px !important;
    }

    /*.... Basic Fonts and Headers */
    .responsive-font {
      font-size: 1.15rem !important;
    }

    .responsive-header {
      font-size: 2.10rem !important;
    }

    /*.... Fonts and headers for icon cards */
    .responsive-card-header {
      font-size: 1.5rem !important;
    }

    /*.... Featurettes */
    #mission-statement {
      width: 70%;
    }

    #collaborate {
      width: 80%;
    }

    #organization {
      width: 90%;
    }

    .toggle-image {
        display: block !important;
      }

    .featurette-container {
      padding-right: 0;
      padding-left: 0;
    }

  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    /*.... Carousel */
    .carousel-height {
      min-height: 155px !important;
    }

    /*.... Basic Fonts and Headers */
    .responsive-font {
      font-size: 1.15rem !important;
    }

    .responsive-header {
      font-size: 2.15rem !important;
    }

    /*.... Fonts and headers for icon cards */
    .responsive-card-header {
      font-size: 1.5rem !important;
    }

    /*.... Featurettes */
    #services-header {
      font-size: 4.25rem;
    }

    #organization {
      width: 80%;
    }

    .featurette-container {
      padding-left: 3rem;
      padding-right: 3rem;
    }

  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    /*.... Carousel */
    .carousel-height {
      min-height: 155px !important;
    }

    /*.... Basic Fonts and Headers */
    .responsive-font {
      font-size: 1.25rem !important;
    }

    .responsive-header {
      font-size: 2.25rem !important;
    }

    /*.... Fonts and headers for icon cards */
    .responsive-card-header {
      font-size: 1.5rem !important;
    }

    /*.... Featurettes */
    #organization {
      width: 60%;
    }

  }

