---
layout: about
title: About
background: '/img/bg-about.jpg'
---

<div class="team text-center">
  {% assign teams = "researchers,developers,artists,former members" | split: ',' %}
  {% for team in teams%}
    <h2 class="text-center">
      {{ team | capitalize }}
    </h2>
    {% for member in site.team %}
      {% assign member_team = member | relative_url | replace: '%20', ' ' | split:'/'%}
      {% if member_team[2] == team %}
        {% if member.page %}
          {% assign url = member.page %}
        {% else if member.github %}
          {% assign url = member.github %}
        {% endif %}  
        <a href="{{url}}">  
            <img src="/{{ member.portrait }}" alt="{{ member.name_ }}">
            <p class="text-center team_name">{{ member.name_ }}</p>
            <p class="text-center team_description">{{ member.description }}</p>
            <p class="text-center team_from">{{ member.from }}</p>
        </a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>