---
layout: about
title: About
background: '/img/bg-about.jpg'
---

<div class="team text-center">
{% assign teams = "researchers,programmers,artists" | split: ',' %}
{% for team in teams%}
  <h2 class="text-center">{{ team | capitalize }}</h2>
  {% for member in site.team %}
    {% assign member_team = member | relative_url | split:'/' %}
    {% if member_team[2] == team %}
      <a href="{{member.url}}">
        <div>
          <div class="rounded">
            {% if member.github %}
              {% avatar user=member.github %}
            {% endif %}
          </div>
          <img src="/{{ member.portrait }}" alt="{{ member.name_ }}" height="150" width="150">
        </div>
        <p class="text-center team_name">{{ member.name_ }}</p>
        <p class="text-center team_from">{{ member.from }}</p>
      </a>
    {% endif %}
  {% endfor %}
{% endfor %}
</div>
