<!-- Footer -->
<hr>
<footer>
  <div class="container">
    <!-- logo and sponsors -->
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ul class="list-inline text-center">
          {% if site.cvc_page %}
          <li class="list-inline-item">
            <a target="_blank" href="{{ site.cvc_page }}" style="width:200px;height:100px;display:inline-block;overflow:hidden;">
              <img width="100%" src="/img/logo/compvisioncenter.png" alt="Computer Vision Center">
            </a>
          </li>
          {% endif %}
          <!-- <li class="list-inline-item"><span style="display:inline-block; width:30px;"></span></li> -->
          {% if site.intel_page %}
          <li class="list-inline-item" style="text-align: left">
            <small class="text-muted" style="font-size:70%">Founding sponsor</small><br>
            <a target="_blank" href="{{ site.intel_page }}" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
              <img width="100%" src="/img/logo/intel.png" alt="Intel">
            </a>
          </li>
          {% endif %}
          {% if site.tri_page %}
          <li class="list-inline-item" style="text-align: left">
            <small class="text-muted" style="font-size:70%">Sponsors</small><br>
            <a target="_blank" href="{{ site.tri_page }}" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
              <img width="100%" src="/img/logo/tri.png" alt="Toyota Research Institute">
            </a>
          </li>
          {% endif %}
          {% if site.futurewei_page %}
          <li class="list-inline-item" style="text-align: left">
            <a target="_blank" href="{{ site.futurewei_page }}" style="width:180px;height:90px;display:inline-block;overflow:hidden;">
              <img width="100%" src="/img/logo/futurewei.svg" alt="Futurewei" style="margin-top: 15px">
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <br>

    <!-- Social media and copyright -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.github_username %}
          <li class="list-inline-item">
            <a target="_blank" style="text-decoration: none !important" href="https://github.com/{{ site.github_username }}">
              <i class="fab fa-github fa-lg"></i>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a target="_blank" style="text-decoration: none !important" href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fab fa-twitter fa-lg"></i>
            </a>
          </li>
          {% endif %}
          {% if site.discord_invite %}
          <li class="list-inline-item">
            <a target="_blank" style="text-decoration: none !important" href="https://discord.gg/{{ site.discord_invite }}">
              <i class="fab fa-discord fa-lg"></i>
            </a>
          </li>
          {% endif %}
          {% if site.youtube_channel %}
          <li class="list-inline-item">
            <a target="_blank" style="text-decoration: none !important" href="https://www.youtube.com/channel/{{ site.youtube_channel }}">
              <i class="fab fa-youtube fa-lg"></i>
            </a>
          </li>
          {% endif %}
          {% if site.email %}
          <li class="list-inline-item">
            <a target="_blank" style="text-decoration: none !important" href="mailto:{{ site.email }}">
              <i class="fas fa-envelope fa-lg"></i>
            </a>
          </li>
          {% endif %}
          <li class="list-inline-item">
            <a style="text-decoration: none !important" href="{{"/feed.xml" | relative_url }}">
              <i class="fa fa-rss fa-lg" data-fa-transform="shrink-6 up-.4 right-.4" data-fa-mask="fas fa-circle"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <p class="copyright text-muted">
              Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}.
              <a href="{{"/legal/privacy" | relative_url }}">Privacy</a>.
            </p>
          </li>
          {% if page.url contains 'services' %}
          <li class="list-inline-item mt-3 icons-atribution">
            Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
