<!-- Home Post List -->

<div class="last_news">

  <h3>Latest News <a href="{{"/feed.xml" | relative_url }}"><i class="fa fa-rss" data-fa-transform="shrink-6 up-.4 right-.4" data-fa-mask="fas fa-circle"></i></a></h3>
  {% for post in site.posts limit : 5 %}

    <article>
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        {% if post.summary != None %}
          <h4 class="post-title">{{ post.summary }}</h4>
        {% else %}
          <h4 class="post-title">{{ post.title }}</h4>
        {% endif %}
        <p>
          Posted on {{ post.date | date: '%B %d, %Y' }}
        </p>
      </a>
    </article>

  {% endfor %}

  <!-- Pager -->
  <br>
  <div class="clearfix">
    <a class="float-right" href="{{"/posts" | relative_url }}"><h6>View All Posts &rarr;</h6></a>
  </div>

</div>
