<!-- Home Post List -->

<div class="last_news">

  <h3>Latest News <a href="{{"/feed.xml" | relative_url }}"><i class="fa fa-rss-square fa-sm" ></i></a></h3>
  {% for post in site.posts limit : 5 %}

    <article>
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h4 class="post-title">{{ post.title }}</h4>
        <p>
          Posted on {{ post.date | date: '%B %d, %Y' }}
        </p>
      </a>
    </article>

  {% endfor %}

  <!-- Pager -->
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
  </div>

</div>
