// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

// Import Carla specific CSS
@import "../assets/carla/style.css";
@import "../css/latest_news.css";
@import "../css/syntax.css";
@import "../css/about.css";
