---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="font-weight:700;margin:40px 0 20px;">{{ page.title }}</h1>
            {% if page.description %}
              <span class="subheading" style="margin:20px 0 40px;">{{ page.description }}</span>
            {% endif %}
            {% if page.getting_started %}
              <p class="center"><a href="{{ page.getting_started }}" target="_blank" class="btn btn-primary" style="text-decoration: none;">Get Started</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-12">
          {{ content }}
        </div>
        <div class="col-auto">
        </div>
        <div class="col-xl-3 col-lg-12">
          {% include last_news.html %}
          <br>
          <br>
          {% include get_in_touch.html %}
        </div>
      </div>
    </div>
  </div>
