---
layout: default
---

<!-- Page Header -->
  <!-- <div class="overlay"></div> -->
  <header>
    <div class="container-fluid py-5 morpheus-bg">
      <div class="container marketing">
      <div class="page-heading">
        <h1 id="services-header" style="font-weight:700;" class="text-center m-0 display-3 text-white py-5">{{ page.title }}</h1>
        {% if page.description %}
        <span class="subheading">{{ page.description }}</span>
        {% endif %}
      </div>
      <div class="container text-center pb-5">
        <img src="/img/logo/carla-w-m.png" class="img-fluid mb-3" alt="Responsive image">
        <h4 id="mission-statement" class="mx-auto text-white">
          It is our mission to accelerate research, development and deployment in the field of autonomous driving through the development of open-source tooling
        </h4>
      </div>
      </div>
    </div>
  
  
  
  </header>

{{ content }}

